
body{
    background: radial-gradient(circle, rgba(142,157,144,1) 35%, rgba(29,40,54,1) 70%);
    color:#fffaf2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo{
    font-size: 36px;
    font-style: italic;
    color: #ece45f
}
.titulo{
    font-size: 40px;
    font-style:italic;
    color: #ece45f
}

.subtitulo{
    font-size: 24px;
    text-decoration: underline;
    color: #bedf49
}

img{
    max-width: 500px;
    border-radius: 20px;
  

}
img:hover{
   transform: scale(1.1);
}

table{
    color: #ffffff;
}
